/* import open props CSS variables */
@import "https://unpkg.com/open-props";

/* import Noto Sans font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* tier colors */
.color-bronze-tier {
  color: var(--choco-8);
}

.color-silver-tier {
  color: var(--gray-5);
}

.color-gold-tier {
  color: var(--yellow-4);
}

.color-platinum-tier {
  color: var(--stone-3);
}

.color-diamond-tier {
  color: var(--cyan-2);
}

/* clear underline from abbr tags */
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

/* set global font override */
*, html, body {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

/* custom classes augmenting bootstrap */
.navbar-bg-brand {
  background-color: var(--indigo-9);
}

.font-small {
  font-size: 0.75rem;
}

.warning-banner {
  background-color: #ffd43b;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.71' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

.banner-inner {
  background-color: rgba(0.0, 0.0, 0.0, 0.9);
  color: white;
  font-weight: bold;
}