<!DOCTYPE html>
<html>
  {% include "partials/head.html.tera" %}
  <body>
    <h1>Tasks</h1>
    <p>
      <ul>
        {% for task_id in task_ordering %}
        <li>
          {{ tasks_by_id[task_id].task.name }}
        </li>
        {% endfor %}
      </ul>
    </p>
  </body>
</html>